/* Very Simple Contact Form */
#vscf {clear:both;}
#vscf p {margin:0 0 10px;}

/* Label and Input fields */
#vscf label {font-size:1em; text-transform:none; font-weight:normal;}
#vscf_name, #vscf_email, #vscf_subject, #vscf_sum {border:1px solid #ccc; padding:5px; font-size:1em; width:70%;}
#vscf_message {border:1px solid #ccc; padding:5px; font-size:1em; width:90%;}
#vscf input, #vscf textarea {-webkit-appearance:none; -moz-appearance:none;}

/* Hide the 2 Honeypot fields */
#vscf_firstname, #vscf_lastname {border:1px solid #ccc; padding:5px; font-size:1em; width:70%; visibility:hidden; display:none;}

/* Submit button */
#vscf_send {padding:5px; width:8em; border:1px solid #ccc; background:#f8f8f8; color:#333; font-size:1em; text-transform:none; font-weight:normal;}
#vscf_send:hover {background:#f2f2f2;} 

/* Input fields error */
#vscf input.error {border-color:#e77776;}
#vscf textarea.error {border-color:#e77776;}

/* Error and Thank You message */
#vscf .error {color:#e77776;}
#vscf .hide {display:none;}
.vscf_info {font-style:italic; font-size:1.25em;}

/* Widget */
.vscf_sidebar {}