/* Very Simple Contact Form */
#vscf {clear:both;}
#vscf p {margin:0 0 10px;}


/* Label and Input fields */
#vscf label {font-size:1em; text-transform:none; font-weight:normal;}
#vscf input, #vscf textarea {font-size:1em; -webkit-appearance:none; -moz-appearance:none;}
#vscf_name, #vscf_email, #vscf_subject, #vscf_sum, #vscf_firstname, #vscf_lastname {width:70%;}
#vscf_message {width:90%;}


/* Input fields - uses default theme styling - if not supported you can activate styling displayed underneath */
	/*
	#vscf_name, #vscf_email, #vscf_subject, #vscf_sum, #vscf_message, #vscf_firstname, #vscf_lastname {border:1px solid #ccc; padding:5px;}
	*/


/* Submit button - uses default theme styling - if not supported you can activate styling displayed underneath */
	/*
	#vscf_send {width:8em; border:1px solid #ccc; padding:5px; background:#f8f8f8; color:#333; text-transform:none; font-weight:normal;}
	#vscf_send:hover {background:#f2f2f2;} 
	*/


/* Hide the 2 fake Honeypot fields */
#vscf_firstname, #vscf_lastname {visibility:hidden; display:none;}


/* Input fields error */
#vscf input.error {border-color:#e77776;}
#vscf textarea.error {border-color:#e77776;}


/* Error and Thank You message */
#vscf .error {color:#e77776;}
#vscf .hide {display:none;}
.vscf_info {margin:0 0 10px; font-style:italic; font-size:1.25em;}


/* Widget */
.vscf_sidebar {}